//los estilos aplican solo a este componente

//declaracion de variables
$primary: green;
$secondary: yellow;

.character {
  background-color: $primary;
  margin: 10px 0;

  &__body {
    padding: 15px;
  }

  &__name {
    color: $secondary;
  }

  &__species {
    color: white;
  }

}

.liked {
  border: 3px solid red;
}
