<div class="col">
  <div class="card" style="width: 18rem;">
    <img [src]="character.image" class="card-img-top" [alt]="character.name">
    <div class="card-body">
      <h5 class="card-title fw-bold">{{ character.name }}</h5>
      <p class="card-text">Species <span class="text-secondary">{{ character.species }}</span></p>
      <a href="#" class="btn btn-danger">
        Like
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill ms-1" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
      </a>
    </div>
  </div>
</div>
